.footer {
  padding: rem(20) 0;
  background: none;

  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      color: #838687;
      font-size: 24px;
    }
    @include media-mx(510) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
