@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
@import 'config/patternSelectors';

/** Обнуление */
@import 'config/reset';

/**
* Библиотеки
* раскомментировать для использования
*/
// @import 'libs/aos';
// @import 'libs/swiper';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
@import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';

/**
* Модули используемые в проекте
* Раскоментировать для использования
*/
// @import 'modules-scss/popup';
// @import 'modules-scss/checkbox';
// @import 'modules-scss/tabs';
// @import 'modules-scss/accordion';
/**
* Подключение стилей отдельных блоков и секций
*/
@import 'components/header';

@import 'components/footer';



.wrapper {
    font-family: Arial;
    background: #D9D9D9;
    padding: 40px;
    @include media-mx(500){
        padding: 15px;
    }
}
.page {
}
.welcome {
    position: relative;

    &__container {
        max-width: 100%;
        width: 100%;
        height: 970px;
        border-radius: 10px;
        border: 4px solid #000;
        @include media-mx(600){
            height: 700px;
        }
        @include media-mx(340){
            height: 600px;
        }
    }
    &__title {
        position: relative;
        z-index: 2;
        margin-top: 125px;
        text-align: center;
        @include media-mx(600){
            margin-top: 55px;
        }
        h2{
            font-size: 100px;
            letter-spacing: -4px;
            width: 95%;
            margin: 0 auto;
            @include media-mx(1382){
                font-size: 85px;
            }
            @include media-mx(1174){
                font-size: 70px;
            }
            @include media-mx(600){
                font-size: 45px;
            }
            @include media-mx(430){
                font-size: 22px;
                letter-spacing: -0.96px;
            }
            @include media-mx(340){
                font-size: 20px;
            }
        }
        .welcome__title-1{
            @include media-mx(430){
                font-size: 40px;
                letter-spacing: -1.8px;
            }
            @include media-mx(340){
                font-size: 35px;
            }
        }
        h4{
            font-size: 32px;
            margin-top: 25px;
            letter-spacing: -1.28px;
            font-weight: 400;
            margin-bottom: 265px;
            @include media-mx(740){
                margin-bottom: 210px;
                font-size: 28px;
            }
            @include media-mx(600){
                margin-bottom: 130px;
            }
            @include media-mx(430){
                font-size: 16px;
                letter-spacing: -0.56px;
                margin-bottom: 270px;
            }
            @include media-mx(380){
                margin-bottom: 220px;
            }
        }
    }
    &__btn {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 260px;
        height: 80px;
        font-size: 36px;
        letter-spacing: -1.44px;
        border-radius: 65px;
        border: 4px solid #000;
        background: #FFF;
        transition: all ease 0.3s;
        &:hover{
            background: #F2CE75;
            box-shadow: 14px 8px 20.2px 0px rgba(0, 0, 0, 0.25);
        }
        @include media-mx(480){
            font-size: 24px;
            width: 200px;
            height: 60px;
        }
        @include media-mx(430){
            font-size: 14px;
            width: 100px;
            height: 36px;
            border: 1px solid #000;
        }
    }
    &__background{
        position: absolute;
        z-index: 1;
        max-width: 100%;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        object-fit: cover;
        border-radius: 5px;
    }
}
.about {
    margin: 50px -40px 0 -40px;
    position: relative;
    &__container {
        max-width: 100%;
        width: 100%;
        height: 1580px;
        @include media-mx(800){
            height: 1200px;
        }
        @include media-mx(624){
            height: 1000px;
        }
        @include media-mx(542){
            height: 800px;
        }
        @include media-mx(412){
            height: 600px;
        }
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
    }
    &__tilte {
        position: absolute;
        font-size: 100px;
        letter-spacing: -4px;
        top: 230px;
        @include media-mx(1172){
            top: 100px;
            font-size: 84px;
        }
        @include media-mx(632){
            font-size: 64px;
        }
        @include media-mx(412){
            font-size: 34px;
            top: 10px;
        }
    }
    &__points {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 195px;
        padding: 250px 100px 100px 100px;
        @include media-mx(956){
            gap: 125px;
        }
        @include media-mx(756){
            padding: 250px 50px 60px 50px;
        }
        @include media-mx(632){
            padding-top: 200px;
        }
        @include media-mx(540){
            gap: 70px;
        }
        @include media-mx(412){
            padding: 80px 50px 60px 50px;
        }
    }
    &__points-item {
        display: flex;
        align-items: end;
    }
    &__points-item__number {
        font-size: 64px;
        letter-spacing: -2.56px;
        margin-bottom: -10px;
        @include media-mx(756){
            font-size: 48px;
        }
        @include media-mx(540){
            font-size: 34px;
        }
        @include media-mx(412){
            font-size: 18px;
            margin-bottom: -5px;
        }
    }
    &__points-item__border {
        width: 65%;
        border-bottom: 4px dashed #000;
        margin: 0 10px;
        @include media-mx(412){
            border-bottom: 2px dashed #000;
        }
    }
    &__points-item__text {
        max-width: 524px;
        width: 100%;
        font-size: 32px;
        letter-spacing: -1.28px;
        margin-bottom: -5px;
        @include media-mx(832){
            font-size: 26px;
        }
        @include media-mx(632){
            font-size: 20px;
        }
        @include media-mx(540){
            font-size: 18px;
        }
        @include media-mx(412){
            font-size: 14px;
        }
    }   
}
.portfolio {
    padding: 100px 50px;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__title {
        font-size: 100px;
        letter-spacing: -4px;
        @include media-mx(524) {
            font-size: 64px;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 427px);
        grid-template-rows: auto auto;
        gap: 45px;
        justify-content: center;
        
        @include media-mx(1420) {
            grid-template-columns: repeat(2, 427px);
            column-gap: 100px;
        }
        @include media-mx(1420) {
            column-gap: 45px;
        }
        @include media-mx(924) {
            grid-template-columns: repeat(1, 427px);
        }
        @include media-mx(452) {
            grid-template-columns: 1fr;
            gap: 20px; 
        }
    }
    
    &__card {
        max-width: 427px;
        width: 100%;
        height: 530px;
        overflow: hidden;
        border-radius: 10px;
        border: 4px solid #000;
        
        @include media-mx(452) {
            width: 100%;
            max-width: none;
            height: auto; 
        }
    }    
    &__card-img {
        height: 364px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 4px solid #000;;
        img{
            max-width: 100%;
            object-fit: cover;
            height: 100%;
        }

    }
    &__card-img-1{
        background: #FFF;
    }
    &__card-img-5{
        background: #768DA1;
        img{
            margin-bottom: -40px;
        }
    }
    &__card-img-6{
        background: #FFF;
        position: relative;
        p{
            position: absolute;
            font-size: 36px;
            letter-spacing: -1.44px;
        }
    }
    &__button{
        width: 100%;
        height: calc(100% - 364px);
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 20px;
        @include media-mx(456){
            padding: 10px;
        }
        @include media-mx(452) {
            height: auto;
        }
    }
    &__card-link{
        width: 108px;
        height: 108px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #000;
        transition: all ease 0.3s;
        background: #D9D9D9;
        img{
            @include media-mx(456){
                width: 50px;
            }
        }
        @include media-mx(456){
            width: 68px;
            height: 68px;
        }
    }
    &__card-link-1:hover,
    &__card-link-3:hover,
    &__card-link-5:hover {
        background-image: url('@img/flower1.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFF;
    }
    &__card-link-2:hover,
    &__card-link-4:hover,
    &__card-link-6:hover {
        background-image: url('@img/flower2.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFF;
    }
}
@media screen and (max-width: 524px) {
    .portfolio{
        padding: 70px 0px;
    }        
}
.work-progress {
    &__container {
        padding: 100px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 90px;
        width: 100%;
        height: 1282px;
        align-items: center;
        @include media-mx(1192){
            padding-top: 40px;
            gap: 70px;
        }
        @include media-mx(892){
            height: 1050px;
        }
        @include media-mx(760){
            height: 950px;
        }
        @include media-mx(654){
            gap: 40px;
        }
        @include media-mx(628){
            height: 850px;
        }
        @include media-mx(572){
            height: 750px;
        }
        @include media-mx(500){
            height: 670px;
        }
        @include media-mx(380){
            padding-top: 0;
            gap: 20px;
            height: 450px;
        }
    }
    &__title {
        font-size: 100px;
        letter-spacing: -4px;
        position: relative;
        z-index: 2;
        @include media-mx(998){
            font-size: 80px;
        }
        @include media-mx(758){
            font-size: 60px;
        }
        @include media-mx(538){
            font-size: 54px;
        }
        @include media-mx(434){
            font-size: 48px;
        }
        @include media-mx(380){
            font-size: 36px;
        }
    }
    &__background {
        position: absolute;
        max-width: 1150px;
        width: 100%;
        z-index: 1;
        top: -60px;
        @include media-mx(1034){
            top: 60px;
        }
        @include media-mx(954){
            top: 120px;
        }
        @include media-mx(380){
            top: 40px;
        }
    }
    &__tree {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 34px;
        margin-left: 65px;
        @include media-mx(900){
            gap: 20px;
        }
        @include media-mx(734){
            margin-left: 35px;
        }
        @include media-mx(380){
            gap: 5px;
            margin-left: 0;
            margin-right: -15px;
        }
    }
    &__tree-point {
        font-size: 30px;
        letter-spacing: -1.28px;
        max-width: 600px;
        width: 100%;
        text-align: center;
        @include media-mx(1130){
            max-width: 750px;
        }
        @include media-mx(758){
            font-size: 24px;
        }
        @include media-mx(538){
            font-size: 18px;
        }
        @include media-mx(434){
            font-size: 14px;
        }

    }
    &__tree-point:first-child{
        max-width: 550px;
        @include media-mx(1130){
            max-width: 750px;
        }
    }
    &__tree-point:last-child{
        max-width: 650px;
        @include media-mx(1130){
            max-width: 750px;
        }
    }
    &__arrow{
        height: 110px;
        @include media-mx(838){
            height: 80px;
        }
        @include media-mx(610){
            height: 50px;
        }
    }
}
.contact {
    &__container {
        padding: 100px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 90px;
        width: 95%;
        height: 882px;
        @include media-mx(984){
            padding-top: 0;
            padding-bottom: 30px;
        }
        @include media-mx(648){
            gap: 30px;
            height: 700px;
        }
        @include media-mx(464){
            height: 550px;
        }
        @include media-mx(400){
            height: 500px;
        }
        @include media-mx(328){
            gap: 10px;
            height: 370px;
        }
    }
    &__background {
        position: absolute;
        z-index: 1;
        top: 20px;
    }
    &__row {
        position: relative;
        z-index: 2;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        @include media-mx(1208){
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
        @include media-mx(328){
            margin-bottom: 20px;
        }
    }
    &__title {
        font-size: 100px;
        letter-spacing: -4px;
        @include media-mx(1468){
            font-size: 80px;
        }
        @include media-mx(796){
            font-size: 70px;
        }
        @include media-mx(420){
            font-size: 48px;
        }
    }
    &__info {
        max-width: 840px;
        width: 100%;
        border-radius: 10px;
        border: 4px solid #000;
        background: #D9D9D9;
        padding: 80px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        @include media-mx(1468){
            max-width: 700px;
            padding: 40px;
        }
        @include media-mx(420){
            padding: 20px;
        }
        @include media-mx(354){
            padding: 10px;
        }
    }
    &__info__item {
        display: flex;
        gap: 80px;
        align-items: center;
        @include media-mx(1468){
            gap: 40px;
        }
        @include media-mx(648){
            gap: 20px;
        }
        @include media-mx(354){
            gap: 5px;
        }
    }
    &__info__item-img {
        @include media-mx(648){
            width: 50px;
        }
        @include media-mx(6380){
            width: 30px;
        }
    }
    &__info__item-link {
        font-size: 40px;
        color: #000;
        letter-spacing: -1.6px;
        @include media-mx(796){
            font-size: 30px;
        }
        @include media-mx(648){
            font-size: 25px;
        }
        @include media-mx(576){
            font-size: 20px;
        }
        @include media-mx(328){
            font-size: 16px;
        }
    }
    &__btn {
        position: relative;
        z-index: 2;
        max-width: 710px;
        width: 100%;
        padding: 75px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 4px solid #000;
        background: #F2CE75;
        font-size: 40px;
        letter-spacing: -1.6px;
        transition: all ease 0.3s;
        &:hover{
            background: #FFF;
            box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15);
        }
        @include media-mx(544){
            padding: 35px 0;
            font-size: 30px;
        }
        @include media-mx(354){
            padding: 25px 0;
            font-size: 20px;
        }
    }
}
